# fastapi==0.115.12
# uvicorn==0.34.1
# opencv-python==4.11.0.86
# ultralytics==8.3.111
# websockets==15.0.1
# SQLAlchemy==2.0.40
# psycopg2==2.9.10
# alembic==1.15.2
# dotenv==0.9.9
# minio==7.2.15
# confluent-kafka==2.10.0

fastapi==0.115.1
uvicorn[standard]==0.34.1
opencv-python-headless==4.11.0.86
ultralytics==8.3.111
websockets==15.0
SQLAlchemy==2.0.40
psycopg2-binary==2.9.10
alembic==1.15.2
python-dotenv==0.9.0
minio==7.2.15
confluent-kafka==2.10.0
